body {
  padding: 0;
  margin: 0;
}
section {
  padding-top: 75px;
}

img {
  display: block;
  float: left;
}

#main-nav {
  position: fixed;
  top: 80px;
  left: 15px;
}

h1.brand {
  background: #fff;
  left: 0;
  margin: 0;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;  
}

.container {
  margin-left: 200px;
}

#mike-is-the-worst img {
  max-height: 441px;
  max-width: 300px;
  margin: 0 65px 50px;
}

#travis-in-paris img {
  margin: 0 10px 50px;
}

#bad-advice-david img {
  max-height: 600px;
  max-width: 300px;
  margin: 0 65px 50px;
}

#bitbucket-allan img {
  margin: 0 65px 50px;
}

#your-bro-queech img{
  margin: 0 10px 50px;
}

#hipster-jon img {
  margin: 0 10px 50px;
}

#mississippi-steve img {
  margin: 0 10px 50px;
}
section {
  padding-bottom: 30px;
}